<li class="comments-list__item">
            <div class="comments-list__item__avatar">
              {{{author.avatar}}}
            </div>
            <div class="comments-list__item__comment">
              <h5>{{author.name}}</h5>
              <p>{{content}}</p>
              <date class="comments-list__item__date">{{date}}</date>
            </div>
          </li>