<nav class="nav">
  <!-- Toggle Switch -->
  <button class="nav__toggle">
    <span class="toggle__bar"></span>
    <span class="toggle__bar"></span>
    <span class="toggle__bar"></span>
  </button>
  <!-- End Switch -->

  <div class="nav__inner">
    <a href="/" class="nav__logo">hudsongray</a>

    <ul class="nav__menu">

      <li class="nav__menu__item">
          <a href="#our-work" class="u-link-honey">Work</a>
      </li>
      <li class="nav__menu__item">
          <a href="#whats-new" class="u-link-honey">New</a>
      </li>
      <li class="nav__menu__item">
          <a href="#our-capabilities" class="u-link-honey">About</a>
      </li>
      <li class="nav__menu__item">
          <a href="#clients" class="u-link-honey">Clients</a>
      </li>

      <li class="nav__menu__item">
          <a href="#our-offices" class="u-link-honey">Contact</a>
      </li>

    </ul>
  </div>
</nav>
