{{> site-header}}

<div id="index">
  <!-- Studios -->
  <div id="index_hero" class="block block--hero block--touch">
  <div id="index_hero_bg"></div>
  <div class="block__inner">
    <h1 class="h1 block__title">
      A Brand <br/>Experience <br/>Agency <br/>for a New <br/>Brand Era.
    </h1>
    <h5 class="index__desc u-margin-tL u-text-light"></h5>
  </div>
</div>
<!-- /Studios -->
{{> site-navigation}}

<!-- About hudsongray -->
<div class="block block--touch about-us u-bg-lightergrey u-bg-diag-grey">
  <div class="block__inner block__inner--about-us clearfix">
    <span class="hg-logo"></span>
    <p><span class="hg-name">HudsonGray</span> is a full service creative marketing and branding agency.
      We create seamless strategic marketing campaigns
      that leverage the power of your brand narrative and encourage audience growth in the new brand era.
    </p>
  </div>
</div>
<!-- /About hudsongray -->

<div id="our-work" class="section-title section-title--work u-bg-lightgrey">
  <span class="forward-slashes">//</span><span class="section-title__span">Our work</span><span class="forward-slashes">//</span>

  <ul class="swipe-pagination swipe-pagination--work">
    <li class="swipe-pagination__item swipe-pagination__item--passion is-active"></li>
    <li class="swipe-pagination__item swipe-pagination__item--blu"></li>
    <li class="swipe-pagination__item swipe-pagination__item--navy"></li>
    <li class="swipe-pagination__item swipe-pagination__item--rain"></li>
  </ul>
</div>

<div id='work' class='swipe'>
  <div class='swipe-wrap'>
    <a>
      <!-- usa network -->
      <div class="block block--slide-ratio" style="background-image: url('{{urls.images}}/index/work_usa1_desktop.jpg');">
      </div>

      <div class="slide-footer">
        <h3 class="h3">USA Network <span class="font-light"> // satisfaction // a cultural dialogue</span></h3>
        <a href="usa-network-a-cultural-dialogue">View Project</a>
      </div>
      <!-- /usa network -->
    </a>

    <a>
      <!-- Town and Country -->
      <div class="block block--slide-ratio" style="background-image: url('{{urls.images}}/index/work_loreal_desktop.jpg');">
      </div>

      <div class="slide-footer">
        <h3 class="h3">Town and Country <span class="font-light"> // NY Fashion Week // Atelier Pop Up</span></h3>
        <a href="town-and-country-atelier-pop-up">View Project</a>
      </div>
      <!-- /Town and Country -->
    </a>
    <a>
      <!-- usa chacter -->
      <div class="block block--slide-ratio"style="background-image: url('{{urls.images}}/index/work_usa2_desktop.jpg');">
      </div>

      <div class="slide-footer">
        <h3 class="h3">USA Network <span class="font-light"> // characters unite // college tour</span></h3>
        <a href="usa-network-college-tour">View Project</a>
      </div>
      <!-- /Town and Country -->
    </a>
  </div>
  <div class="swipe-controls__wrapper">
    <div class="swipe-controls">
      <button class="swipe-controls__item swipe-controls__item--prev">Left</button>
      <button class="swipe-controls__item swipe-controls__item--next">Right</button>
    </div>
  </div>
</div>

<!-- whats-new hudsongray -->
<div id="whats-new" class="block  whats-new u-bg-white">
  <div class="block__inner block__inner--whats-new">
    <div class="section-title">
      <span class="forward-slashes">//</span><span class="section-title__span">What's New</span><span class="forward-slashes">//</span>
    </div>
    <ul class="new-projects">
      <li>
        <a href="town-and-country-atelier-pop-up" class="new-project">
          <div class="new-project-thumb">
          </div>
          <div class="new-project-title">
            // A cultural dialogue
          </div>
        </a>
      </li>
      <li>
        <a href="town-and-country-atelier-pop-up" class="new-project">
          <div class="new-project-thumb">
          </div>
          <div class="new-project-title">
            // atelier pop up
          </div>
        </a>
      </li>
      <li>
        <a href="usa-network-college-tour" class="new-project">
          <div class="new-project-thumb">
          </div>
          <div class="new-project-title">
            // college tour
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /whats-new hudsongray -->

<!-- Our capabilities -->
<div id="our-capabilities" class="block block--touch our-capabilities u-bg-diag-grey">
  <div class="block__inner block__inner--our-capabilities">
    <div class="section-title section-title--transparent">
      <span class="forward-slashes"></span><span class="section-title__span">WHAT WE DO</span><span class="forward-slashes"></span>
    </div>
    <div class="capability-row strategy">
      <div class="capability-icon"><i></i><div class="icon-title">Strategy</div></div>
      <div class="capability-desc1">
        Learning about you, to develop a map for us.
      </div>
      <div class="capability-desc2">
        brand briefing, research, pilot viewing, script reading, product sampling, competitive analysis, trend assessment, feasibility
      </div>
    </div>
    <div class="capability-row creative">
      <div class="capability-icon"><i></i><div class="icon-title">Creative</div></div>
      <div class="capability-desc1">
        Crafting original concepts
        that capture the essence of
        your brand.
      </div>
      <div class="capability-desc2">
        corporate & visual identity, conceptual creative,
        graphic design and branding, 3D visualization,
        event design, branded content, video design
        and production        </div>
      </div>
      <div class="capability-row production">
        <div class="capability-icon"><i></i><div class="icon-title">Production</div></div>
        <div class="capability-desc1">
          Nailing the details to bring your
          vision to life.        </div>
          <div class="capability-desc2">
            budget management, venue research and
            site inspections, procurement and contract
            management, talent buying and management,
            geographic production planning, operations
            and logistics management, onsite coordination
            and management, post program assessment
            and services
          </div>
        </div>
        <div class="capability-row marketing">
          <div class="capability-icon"><i></i><div class="icon-title">Marketing</div></div>
          <div class="capability-desc1">
            Keeping your campaign
            streamlined and seamless with
            our multi-platform experience.
          </div>
          <div class="capability-desc2">
            events, branded environments, pop ups,
            mobile tours, road shows, guerrilla stunts,
            mobile engagement tools, websites, microsites,
            brand and sponsorship activations, conferences
            and branded collateral
          </div>
        </div>
        <div class="capability-row digital-and-interactive">
          <div class="capability-icon"><i></i><div class="icon-title">Digital</div></div>
          <div class="capability-desc1">
            Utilizing the latest in experiential
            and digital platforms for an
            integrated approach.
          </div>
          <div class="capability-desc2">
            interactive walls, robotics, gestural media,
            mobile app development, iBeacons, NFC,
            photo/video engagements, aurasma, augmented
            reality, interactive registration, live streams and
            web series
          </div>
        </div>
        <div class="capability-row results">
          <div class="capability-icon"><i></i><div class="icon-title">Results</div></div>
          <div class="capability-desc1">
            Delivering a truly measurable
            product to ensure you hit
            your target.
          </div>
          <div class="capability-desc2">
          </div>
        </div>
      </div>
    </div>
    <!-- /Our capabilities -->

    <!-- Our thinking -->
    <div class="block block--touch our-thinking u-bg-lightgrey">
      <div class="block__inner block__inner--our-thinking">
        <div class="section-title section-title--transparent">
          <span class="forward-slashes">//</span><span class="section-title__span">WHAT MAKES GRAY MATTER</span><span class="forward-slashes">//</span>
        </div>
        <p>
          Gone are the days when a marketing campaign was a monologue. These days, it’s more like a conversation. It’s a new era, and people increasingly get to choose how, where and why they engage with a brand’s message. Speaking to your audience across a wide range of channels and in a voice that stays true to your brand has never been more important.
        </p>
        <p>
          At HudsonGray, we want to help you embrace the new brand era.<br/>
          We’ll collaborate with you to build multi-layered marketing campaigns that harness the potential of the new media landscape and empower your audience to take an active part in your growth. We use our broad industry experience to pinpoint what makes your brand narrative unique and create consumer experiences that are engaging, authentic and highly shareable. We work nimbly and intelligently to help you plan for the future, and execute in the moment.
        </p>
        <p>
          We’re HudsonGray, and we’re built for the new brand era.
        </p>
      </div>
    </div>
    <!-- /Our thinking -->
    <!-- Brand Board -->
    <div id="clients" class="block block--touch our-clients u-bg-white">
      <div class="block__inner block__inner--our-clients">
        <div class="section-title section-title--clients section-title--transparent">
          <span class="forward-slashes">//</span><span class="section-title__span">Clients</span><span class="forward-slashes">//</span>
        </div>
        <div class="header-subtitle">
          WE ARE PROUD TO WORK WITH SOME OF WORLD’S BEST-KNOWN BRANDS
        </div>
        <div class="our-clients-board"></div>
      </div>
    </div>
    <!-- /Brand Board -->

    <!-- our-offices -->
    <div id="our-offices" class="block block--touch our-offices u-bg-diag-grey">
      <div class="block__inner block__inner--our-offices clearfix">
        <div class="section-title section-title--our-offices section-title--transparent">
          <span class="section-title__span">get in touch</span>
        </div>
        <div class="offices">
          <div class="office__item new-york">
            <div class="office__map"><div class="hg-marker"></div></div>
            <div class="studios__item__details u-text-nonBlack">
              <h4>New York</h4>
              <p class="p--address">
                <span class="street-address">333 Hudson STR</span>
                <br />
                <span class="region">SUITE 601</span>
                <br />
                <span class="country-name">New York, NY 10013</span>
                <a target="_blank" class="maps__link u-link-block u-margin-tS" href="">Google Map</a>
              </p>
            </div>
          </div>
          <div class="office__item chicago">
            <div class="office__map"><div class="hg-marker"></div></div>
            <div class="studios__item__details u-text-nonBlack">
              <h4>Chicago</h4>
              <p class="p--address">
                <span class="street-address">875 N Michigan Ave
                </span>
                <br />
                <span class="region">31st FlOOR
                </span>
                <br />
                <span class="country-name">Chicago, IL 60611
                </span>
                <a target="_blank" class="maps__link u-link-block u-margin-tS" href="">Google Map</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{> site-footer}}
