{{> site-header}}
{{> site-navigation}}

<div id="blog-page">
  <div class="blog-article__wrapper blog-article--malmo">
    <article class="blog-article">
      <header class="blog-article__header">
        <div class="blog-article__header__btns">
          <div class="blog-article__header__cat">New York</div>
        </div>

        <h2 class="blog-article__header__title">
          Visual Designer
        </h2>
      </header>

      <div class="blog-article__content blog-article__content--job">
        <p>As an ustwo Visual Designer you’ll be working within a team of designers and developers. You will be responsible for creating cutting edge graphical user interfaces for multiple platforms.</p>

        <p>In our projects you’ll be sketching from the early phases and defining solutions within a team. You’ll be participating in client workshops and collaborating closely with them to realise their digital identities. To succeed, you’ll need to be detail focused and pixel perfect in everything you do, making sure you deliver on time and on budget.</p>

        <p>We offer you the opportunity to be yourself, whilst delivering the best work on the planet for some of the biggest and most innovative brands. Bring your passion to work and help us make a difference!</p>

        <h3>Skills</h3>

        <ul>
          <li>Designing software applications for different platforms, especially small devices</li>
          <li>Visualising concepts to demonstrate your ideas</li>
          <li>An interest in working with iconography</li>
          <li>Working with and questioning wireframes and design specification documents</li>
          <li>Confident with visual prototyping</li>
          <li>Experience with usability principles and techniques</li>
          <li>Experience with motion graphics and an understanding of how behavior and transition affects design</li>
          <li>Comfortable working within an agile development process</li>
          <li>An active interest in design (it’s your passion as well as a job)</li>
          <li>Ability to work independently as well as in a team</li>
          <li>A focus on both a macro and micro level in terms of design details</li>
          <li>The ability to give and take constructive feedback well in order to improve and develop</li>
          <li>An interest in developing your skills and sharing knowledge with fellow peers</li>
          <li>Good communication skills, both written and verbal</li>
        </ul>

        <h3>Responsibilities</h3>

        <ul>
          <li>Delivering (along with your team) visual design components on time within projects</li>
          <li>Liaise with clients, both directly and through project managers</li>
          <li>Presenting concepts and ideas for clients</li>
          <li>Inspiring both colleagues and clients</li>
          <li>Playing an important role during our UX process, UXP™</li>
          <li>The ability to manage your time wisely and keep your team up-to-date</li>
          <li>Manage your time wisely and keep your team up to date</li>
        </ul>
      </div>

      <aside class="blog-article__meta">
        <a href="#" class="btn btn--large apply-btn">Apply now</a>
      </aside>
    </article>
  </div>
</div>

{{> site-footer}}
