.footer {
  color: #FFF;
  background: #252525;
}

.footer__contact__item .telephone {
  display: none;

  &:first-child {
    display: block;
  }
}

.footer__scrolltop {
  display: block;
  position: relative;
  height: 68px;
  overflow: hidden;
  text-indent: -1000px;
  background: #1B1B1B;
  -webkit-transition: background 0.3s linear;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 19px;
    left: 50%;
    margin-left: -11px;
    z-index: 10;
    border-top: 5px solid #FFF;
    border-left: 5px solid #FFF;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:hover {
    background: lighten(#1B1B1B, 10);
  }
}

.footer__copyright {
  @extend %grid;
  max-width: 1280px;
  margin: 0 auto;

  .h6 {
    color: lighten(#1B1B1B, 30);
    @extend %grid__item;
    @extend %one-whole;
    @extend %u-palm-padding-tbM;
    @extend %u-tablet-padding-tbM;
    @extend %u-lap-padding-tbM;
    @extend %u-desk-padding-tbL;
    @extend %u-huge-padding-tbXl;
  }
}

.footer__contact {
  @extend %grid;
  @extend %u-padding-tM;
  @extend %u-desk-padding-tL;
  @extend %u-huge-padding-tXl;
  margin: 0;
}

.footer__contact__item {
  @extend %grid__item;
  @extend %one-quarter;
  @extend %palm--one-whole;
  @extend %desk--one-quarter;
  @extend %lap--one-quarter;
  @extend %tablet--one-half;

  @include grid-media-query('upToTablet') {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.social__links {
  @extend %clearfix;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

.social__links__item {
  display: block;
  float: left;
  position: relative;
  margin-right: 16px;
  border-radius:100%;
  background-color:#aaa;
  background-image:url('../images/shared/diaglinepattern-50p.png');
  padding:6px;
}

.social__link {
  display: block;
  width: 22px;
  height: 22px;
  background-size: 22px;
  text-align: center;
  line-height: 28px;
  font-size: 20px;

  i{
    color:white;
  }

  &:hover {
    opacity: 1;
  }

  @media (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dppx) {
    background-size: 22px;
  }
}

.social__link--facebook {
}

.social__link--linkedin {
}

.social__link--twitter  {
}
