.section-title {
  display: block;
  position: relative;
  z-index: 10;
  font-family: $utopiaregular;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  background-color:white;

  @include grid-media-query('palm') {
    font-size: 16px;
  }
}

.section-title.section-title--transparent{
  background:transparent;
  span{
    background:transparent;
  }
}

.section-title--about .section-title__span {
  padding-top: 0;
}

.section-title--clients {
  padding-top: 0px;
  background: #F8F8F8;
}

.section-title--work {
  padding-top: 20px;

  @include grid-media-query('upToTablet') {
    padding-top: 10px;
    padding-bottom: 5px;

    &:after {
      display: none;
    }
  }
}

.section-title--thoughts {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-title__span {
  display: inline-block;
  padding: 10px 10px;
  background: #FFF;
  border-radius: 3px;
  font-family:$avantgardebold;
  color:rgb(128,128,128);
  font-weight:normal;
}

.forward-slashes{
  color: #cccccc;
  font-size: 38px;
  line-height: 0px;
  transform: translateY(2px);
  display: inline-block;
  letter-spacing: -7px;
  margin-right: 3px;

}

@include grid-media-query('upToTablet') {
  .swipe-pagination--work{
    display: none;
  }

  .forward-slashes{
    font-size: 25px;
  }
}
