@font-face {
    font-family: 'UtopiaRegular';
    src: url('fonts/Utopia-Regular/utopia-regular.eot');
    src: url('fonts/Utopia-Regular/utopia-regular.eot') format('embedded-opentype'),
         url('fonts/Utopia-Regular/utopia-regular.woff2') format('woff2'),
         url('fonts/Utopia-Regular/utopia-regular.woff') format('woff'),
         url('fonts/Utopia-Regular/utopia-regular.ttf') format('truetype'),
         url('fonts/Utopia-Regular/utopia-regular.svg#utopiaregular') format('svg');
}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBold';
    src: url('fonts/ITCAvantGardeStd-Bold/itcavantgardestd-bold.eot');
    src: url('fonts/ITCAvantGardeStd-Bold/itcavantgardestd-bold.eot') format('embedded-opentype'),
         url('fonts/ITCAvantGardeStd-Bold/itcavantgardestd-bold.woff2') format('woff2'),
         url('fonts/ITCAvantGardeStd-Bold/itcavantgardestd-bold.woff') format('woff'),
         url('fonts/ITCAvantGardeStd-Bold/itcavantgardestd-bold.ttf') format('truetype'),
         url('fonts/ITCAvantGardeStd-Bold/itcavantgardestd-bold.svg#ITCAvantGardeGothicStdBold') format('svg');
}

@font-face {
    font-family: 'ITCAvantGardeStdBk';
    src: url('fonts/ITCAvantGardeStd-Bk/itcavantgardestd-bk.eot');
    src: url('fonts/ITCAvantGardeStd-Bk/itcavantgardestd-bk.eot') format('embedded-opentype'),
         url('fonts/ITCAvantGardeStd-Bk/itcavantgardestd-bk.woff2') format('woff2'),
         url('fonts/ITCAvantGardeStd-Bk/itcavantgardestd-bk.woff') format('woff'),
         url('fonts/ITCAvantGardeStd-Bk/itcavantgardestd-bk.ttf') format('truetype'),
         url('fonts/ITCAvantGardeStd-Bk/itcavantgardestd-bk.svg#ITCAvantGardeGothicStdBook') format('svg');
}
