#case-study{
  .section-title {
    padding-bottom:0;
    .section-title__span{
      padding: 10px 10px 0 10px;
    }
  }

  .swipe-controls__wrapper{
    bottom:-42px;
  }
  .block__inner--about-project {
    padding:50px 0;
    > div{
      display: inline-block;
      vertical-align: top;
      color:#888;
    }
  }
  .about-img{
    width:69%;
    border-right:1px solid #666;
    padding-right:10px;
    img{
      width:100%;
    }
  }
  .about-desc{
    width:30%;
    padding:10px;
    font-family:$utopiaregular;

    h4{
      font-family:$avantgardebook;
      padding-bottom:20px;
    }
    p{
      color:#666;
      line-height:1.3em;
    }
  }
  p.first{
    margin-bottom:50px;
  }
  .section-title--results{
    border-bottom:1px solid #666;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 768px){
    .about-img{
      border-right:none;
      margin-bottom:50px;
      padding:0px;
      width:100%;
    }
    .about-desc{
      width:100%;
    }

  }

  #results .results{
    display: inline-block;
    text-align:center;
    width:100%;
    padding: 30px 0 10px 0;

    > div{
      text-align:center;
      display: inline-block;

      &.col-50{
        width:40%;
        padding:4% 4%;
        @media only screen and (max-width: 768px){
          width:100%;
          border-right:none!important;
          padding-bottom: 15%;
        }
      }
      &.col-50:first-child{
        border-right:1px solid #666;
      }
    }
  }
  .result3 img{
    width:50%;
  }
  .result2 img{
    width:100%;

  }
}
